<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="DirectoryPath" value="D:\Azure-Assignment\C#-Tasks\C#-Tasks\ConsoleApplication\FileManager\Data files\"/>
		<add key="StudentDirectory" value ="D:\Azure-Assignment\C#-Tasks\C#-Tasks\ConsoleApplication\SchoolManagementSystem\Student Details\"/>
		<add key="practicePath" value ="D:\Azure-Assignment\C#-Tasks\C#-Tasks\Practice\Error log files\"/>
		<add key="inventoryPath" value ="D:\Azure-Assignment\C#-Tasks\C#-Tasks\ConsoleApplication\Inventory Management System\Data files\"/>
	</appSettings>
</configuration>